name: Build and Lint

on:
  push:
    branches:
      - '*'
      - '!dependabot/**'
  pull_request_target:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # the Node.js versions to build on
        node-version: [12.x, 14.x, 16.x]

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Prettier the project
        run: |
          npm run lint:prettier

      - name: ESLint the project
        run: |
          npm run lint:eslint

      - name: Build the project
        run: npm run build
        env:
          CI: true

      - name: Run test
        run: npm test
